.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userInfoContainer{
  align-self: start;
}
.searchContainer{
  margin: 20px;
  width: 100%;
}
