.alert-container{
  visibility: hidden;
  position: absolute;
  min-width: 250px;
  background-color: rgb(241, 82, 82);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
}
.alert-container.show{
  visibility: visible;
  transition: 1s;
}
.alert-container .title{
  font-weight: bold;
}
