.table_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filters{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20px, auto);
  margin-bottom: 20px;
  align-self: end;
}
.filter{
  padding: 10px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  table-layout:fixed;
  width:100%;
}

th, td {
  width: fit-content;
  word-wrap: break-word;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  font-weight: normal;
  font-size: .875rem;
  color: #666;
  background: #eee;
  position: sticky;
  top: 0;
}
