<div class="table_container">
  <div class="table_header">
    <div class="searchTable">
      <input type="text" [(ngModel)]="searchName" placeholder="Buscar repositorio" />
      <button (click)="searchByName()">Buscar repos</button>
    </div>
    <div class="filters">
      <label class="filter" *ngFor="let filter of filtersShow">
        <input type="checkbox" name="filterLanguage" [id]="filter.name" [checked]="filter.selected"
          [(ngModel)]="filter.selected" (change)="refreshFilters()"> {{filter.name}}
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let column of columns" [ngStyle]="{'width': column.columnWidth}" (click)="sortTable(column.value)">
          {{column.name}}
          <span *ngIf="column.value == 'name' && directionSortName == 'up'"><i class="fa fa-sort-up"></i></span>
          <span *ngIf="column.value == 'name' && directionSortName == 'down'"><i class="fa fa-sort-down"></i></span>
          <span *ngIf="column.value == 'name' && directionSortName == 'default'"><i class="fa fa-sort"></i></span>
          <span *ngIf="column.value == 'stargazers_count' && directionSortStars == 'up'"><i class="fa fa-sort-up"></i></span>
          <span *ngIf="column.value == 'stargazers_count' && directionSortStars == 'down'"><i class="fa fa-sort-down"></i></span>
          <span *ngIf="column.value == 'stargazers_count' && directionSortStars == 'default'"><i class="fa fa-sort"></i></span>

        </th>
      </tr>
    </thead>
    <tbody *ngIf="data.length > 0">
      <tr *ngFor="let item of data | languageFilter: filtersActive">
        <td *ngFor="let column of columns">{{item[column.value]}}</td>
      </tr>
    </tbody>
  </table>
</div>
